@model TCAdminBatchSteamUpdate.Models.SteamUpdateModel
@using System.Web.Mvc
@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using Kendo.Mvc.UI
@using TCAdmin.SDK.Web.MVC.Extensions
@{
    Layout = this.GetTemplateFile("Shared/Main.cshtml", true);
}

@section sidebar{
    @Html.Partial("_DefaultSidebar")
}

<style>
    * {
      box-sizing: border-box;
    }
    
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    [class*="col-"] {
      float: left;
      padding: 15px;
    }
    
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    .k-treeview .k-checkbox-wrapper+.k-in {
        margin-left: 4px;
        font-size: 24px;
    }
</style>

<div class="row">
    <div class="col-4" style="font-size: 24px;">
        <div id="form-window">
            @using (Ajax.BeginForm("UpdateServices", "SteamUpdate", new AjaxOptions {OnSuccess = "onReceived", OnFailure = "onReceived", HttpMethod = "Post"}))
            {
                <label for="serviceIds">Check all services that you want to update:</label>
                @(Html.Kendo().TreeView()
                    .Name("serviceIds")
                    .Checkboxes(true)
                    .BindTo(Model.Services.OrderBy(x => x.GameName).Select(x => new TreeViewItemModel
                    {
                        Selected = false,
                        Text = string.Format("{0} | {1}", x.ConnectionInfo, x.GameName),
                        Id = x.ServiceId.ToString(),
                    }))
                    .AutoScroll(true)
                    )
                <button class="k-button k-primary" type="submit" style="margin: 10px">Update Services</button>
            }
        </div>
    </div>
</div>

<script>
    function onReceived(e){
        document.body.style.cursor = 'default';
        if(e.responseJSON && e.responseJSON.Message){
            TCAdmin.Ajax.ShowBasicDialog('Steam Update', e.responseJSON.Message);
            return;
        }
        
        if(e.url){
            TCAdmin.Ajax.ShowUrlDialog('Steam Update', e.url, function(){ }, 600, 250);
        }
    }
</script>