@model TCAdminBatchSteamUpdate.Models.SteamUpdateModel
@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using Kendo.Mvc.UI
@using TCAdmin.SDK.Web.MVC.Extensions
@{
    Layout = this.GetTemplateFile("Shared/Main.cshtml", true);
}

@section sidebar{
    @Html.Partial("_DefaultSidebar")
}

<div class="row">
    <div class="col-4" style="font-size: 24px;">
        <div id="form-window">
            @using (Ajax.BeginForm("UpdateServices", "SteamUpdate", new AjaxOptions {OnSuccess = "onReceived", OnFailure = "onReceived", HttpMethod = "Post"}))
            {
                <label for="serviceIds">Check all services that you want to update:</label>
                <input type="button" value="Check All" id="checkButton" onclick="toggleCheckAll()" class="k-button" />
                @(Html.Kendo().TreeView()
                    .Name("serviceIds")
                    .Checkboxes(true)
                    .BindTo(Model.Services.OrderBy(x => x.GameName).Select(x => new TreeViewItemModel
                    {
                        Selected = false,
                        Text = string.Format("{0} | {1}", x.ConnectionInfo, x.GameName),
                        Id = x.ServiceId.ToString(),
                    }))
                    .AutoScroll(true)
                    )
                <button class="k-button k-primary" type="submit" style="margin: 10px">Update Services</button>
            }
        </div>
    </div>
</div>

<script>
    function onReceived(e){
        document.body.style.cursor = 'default';
        if(e.responseJSON && e.responseJSON.Message){
            TCAdmin.Ajax.ShowBasicDialog('Steam Update', e.responseJSON.Message);
            return;
        }
        
        if(e.url){
            TCAdmin.Ajax.ShowUrlDialog('Steam Update', e.url, function(){ }, 600, 250);
        }
    }
    
    function toggleCheckAll(){
        const checkButtonValue = $("#checkButton").val();
        
        if(checkButtonValue === "Uncheck All"){
          $("#serviceIds .k-checkbox-wrapper input").prop("checked", false).trigger("change");
          $("#checkButton").val("Check All");
        } else {
          $("#serviceIds .k-checkbox-wrapper input").prop("checked", true).trigger("change");
          $("#checkButton").val("Uncheck All");
        }
    }
</script>